.App {
  text-align: center;
}
.inp{
  padding: 10px;
  margin: 5px;
  width: 90%;
  font-size: 1em;
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.myRadius{
  border-radius: 8px;
}